
<div class="container">
    <div class="row">
        <h2 class="mx-auto">Withdrawal</h2>
        <input required id="amount" #amount="ngModel" name="amount" [(ngModel)]="withdrawalAmount" type="number" step="0.01" class="form-control" placeholder="Withdrawal amount" aria-label="Withdrawal amount" aria-describedby="basic-addon1">
        <div *ngIf="amount.invalid && (amount.dirty || amount.touched)"
            class="alert alert-danger">

            <div *ngIf="amount.errors.required">
                Amount is required.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="row mx-auto">
            <button [disabled]="!withdrawalAmount" (click)="withdrawal()" type="button" class="btn btn-primary">Confirm withdrawal</button>
        </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
                {{errorMessage}}
    </div>
</div>
